* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:darkmagenta;
}

img {
    width:500px;
}
